@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'Noto Sans TC';
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}

ul,
ol,
li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a,
a:hover,
a:focus {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
    outline: 0px !important;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

button[disabled] {
    pointer-events: none;
}

input {
    padding: 0;
}

input:required {
    box-shadow: none;
}

input:invalid {
    box-shadow: none;
}

// basic css
$body-bg: #959595;
$black: #000000;
$deep-gray: #373737;
$light-gray:#C4C4C4;
body {
    display: block;
}

.container {
    margin: 100px auto 0 auto;
    width: 85%;
}

.none {
    display: none;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

// RWD setting
@mixin phone {
    @media screen and (min-width: 480px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: 720px) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}